services:
  # ---------------------------
  # 1. Backend Service (FastAPI)
  # ---------------------------
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - N8N_HOST=${N8N_HOST} # ดึงค่าจาก .env มาใช้งาน (Environment Variable)
    depends_on:
      - n8n # รอให้ Service n8n รันเสร็จก่อน (Dependency)
    restart: always

  # ---------------------------
  # 2. AI Workflow Service (n8n)
  # ---------------------------
  n8n:
    image: n8nio/n8n:latest
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=${N8N_BASIC_AUTH_ACTIVE}
      - N8N_BASIC_AUTH_USER=${N8N_BASIC_AUTH_USER}
      - N8N_BASIC_AUTH_PASSWORD=${N8N_BASIC_AUTH_PASSWORD}
      # ปรับ Webhook URL ให้ถูกต้องเพื่อให้ n8n ส่ง Callback กลับมาได้ (Webhook Configuration)
      - WEBHOOK_URL=http://localhost:5678/
    volumes:
      - n8n_data:/home/node/.n8n # เก็บข้อมูลถาวรของ n8n (Persistent Volume)
      - ./n8n/workflows:/data/workflows # เชื่อมต่อโฟลเดอร์ Workflow จากเครื่องเราเข้าไปใน Container (Bind Mount)
    # command: /bin/sh -c "n8n start"
    restart: always

  # ---------------------------
  # 3. Frontend Service (Next.js)
  # ---------------------------
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
      # volumes:
      #   - ./frontend:/app
      #   - /app/node_modules
    restart: always

volumes:
  n8n_data:
